<div style="min-height: 25px;"></div>
<h3>
  This app was developed in
  <a href="https://www.meetup.com/Angular-Raleigh-Meetup/" target="_blank"
    >Angular Raleigh Meetup</a
  >
  - February Event.
</h3>
<br />
<h4>
  Big thanks to
  <a href="https://www.themealdb.com/" target="_blank">The Meal DB</a> API.
</h4>
<hr />
Have something to say about this App? Connect with me on
<a href="https://twitter.com/askudhay" target="_blank">Twitter</a>.
